language: node_js
node_js:
  - "10"

branches:
  only:
  - dev

cache:
  directories:
    - "node_modules"
    - "public"

install:
  - npm install

script:
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  keep-history: false
  local-dir: ./public
  target-branch: master
  github-token: $GITHUB_TOKEN
  on:
    branch: dev
